<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kush_cloakedfighter.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/kush_cloakedfighter.scnassets.zip</string>
	<key>taid_attackbomber.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/taid_attackbomber.scnassets.zip</string>
	<key>kush_interceptor.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/kush_interceptor.scnassets.zip</string>
	<key>bent_bentusiexchange.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/bent_bentusiexchange.scnassets.zip</string>

	<key>kush_carrier.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/kush_carrier.scnassets.zip</string>
	<key>kush_resourcecollector.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/kush_resourcecollector.scnassets.zip</string>
	<key>kush_ioncannonfrigate.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/kush_ioncannonfrigate.scnassets.zip</string>
	<key>kad_swarmer.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/kad_swarmer.scnassets.zip</string>
	<key>taid_scout.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/taid_scout.scnassets.zip</string>


	<key>hiig_interceptor.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/hiig_interceptor.scnassets.zip</string>
	<key>hiig_scout.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/hiig_scout.scnassets.zip</string>
	<key>hiig_shipyard.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/hiig_shipyard.scnassets.zip</string>
	<key>kad_multibeamfrigate.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/kad_multibeamfrigate.scnassets.zip</string>
	<key>vgr_commbase.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/vgr_commbase.scnassets.zip</string>
	<key>vgr_interceptor.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/vgr_interceptor.scnassets.zip</string>
	<key>vgr_lance.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/vgr_lance.scnassets.zip</string>
	<key>vgr_minelayer.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/vgr_minelayer.scnassets.zip</string>
	<key>tur_mothership.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/tur_mothership.scnassets.zip</string>


	<key>kush_dronefrigate.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/kush_dronefrigate.scnassets.zip</string>
	<key>kush_missiledestroyer.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/kush_missiledestroyer.scnassets.zip</string>
	<key>kush_salvagecorvette.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/kush_salvagecorvette.scnassets.zip</string>
	<key>taid_ioncannonfrigate.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/taid_ioncannonfrigate.scnassets.zip</string>
	<key>taid_missiledestroyer.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/taid_missiledestroyer.scnassets.zip</string>
	<key>taid_mothership.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/taid_mothership.scnassets.zip</string>
	<key>taid_carrier.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/taid_carrier.scnassets.zip</string>

	<key>kush_assaultfrigate.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/kush_assaultfrigate.scnassets.zip</string>


	<key>taid_heavycorvette.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabalyards/taid_heavycorvette.scnassets.zip</string>




</dict>
</plist>
