<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kush_cloakedfighter.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabal/kush_cloakedfighter.scnassets.zip</string>
	<key>taid_attackbomber.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabal/taid_attackbomber.scnassets.zip</string>
	<key>kush_interceptor.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabal/kush_interceptor.scnassets.zip</string>
	<key>bent_bentusiexchange.dae</key>
	<string>https://s3-us-west-1.amazonaws.com/naabal/bent_bentusiexchange.scnassets.zip</string>
</dict>
</plist>
