<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kush_interceptor.dae</key>
	<array>
		<string>Blade-class Interceptor</string>
		<string>Fighter</string>
		<string>Anti-Strike Craft</string>
		<string>Armarments:
2 x Small Projectile Cannons

The Blade Project's original goals were to merely design an upgraded and refitted version of the Scout in the form of a new, more powerful "Heavy Interceptor". As time went on and old models of the Blade were scrapped the Heavy Interceptor simply became the Interceptor and was eventually simplified to excel at its single task: fighter-to-fighter combat. Versions 1 and 2, which followed the example of the Arrow were eventually scrapped for not being sufficiently worth the extra expenses needed to build them.

Marks 3 and 4 on the other hand were further upgraded so that they could also endure atmospheric flight and travel at speeds greater even than the Arrow. However, all these systems combined together to build up heating in the plasma vents which hence gave the pilots of these test flights the nickname "Bomb Jockey" as their prototype designs would often explode in flight.

Eventually, Fleet Intelligence was about to give up the project entirely and cut funds based on the failures of the first four models. Instead, a single engineer and a test pilot together refitted the Blade by cutting away the wings and using their hull to form thermal insulation. In addition they pulled away the extra speed of the Blade and finished with a fighter that while slower than the Arrow carried more firepower and, more significantly, it ceased to be a guided fireball.

The Mk. 5 employed a large twin rotary cannon inside the nose armor plates that provided the extra firepower that the Arrow lacked. In addition this armor provided not only cooling and a larger chassis but also better protection against enemy firepower. Even so, much of the Blade's troubled past still was tied to it and pilots were still known as "Bomb Jockeys" even in the days of the Beast War, when the upgraded Mk. 6 provided the base for much of the carrier fleets commanded by the various Kushan Kiithid.

</string>
		<string>Kus_Interceptor1</string>
		<string>24.0 metres</string>
		<string>60 tons</string>
		<string>875 m/s</string>

	</array>


	<key>taid_attackbomber.dae</key>
	<array>
		<string>Kaark-class Attack Bomber</string>
		<string>Fighter</string>
		<string>Anti-Capital Ship</string>
		<string>Armarments:
2 Plasma Bomb Launchers

While less manueverable than most fighters, the Kaark makes up for it by converting its engines into weapons. The Kaark literally uses its fuel plasma as a weapon, directing it through two cannons at either side of it. To add to the damage the Kaark electromagnetically charges the plasma as it passes through the cannons and then projects them forward towards their target, usually a frigate or super capital ship but on occasion non-combat vessels or even crippled strike craft.

During the Homeworld War Kaarks were rarely used against other fighters and even against corvettes because not only were they slow moving but the plasma was very slow compared to other devices of weaponry, even missiles. For this reason Kaarks would usually be dispatched to fight capital ships of various sizes or raid resourcer convoys. In case the Kaarks did end up in trouble though they were likely to resort to using electric countermeasure systems, manned by the rear-seat engineer.

</string>
		<string>Tai_AttackBomber1</string>
		<string>24.7 metres</string>
		<string>90 tons</string>
		<string>750 m/s</string>

	</array>



	<key>kush_cloakedfighter.dae</key>
	<array>
		<string>Spectre-class Cloaked Fighter</string>
		<string>Fighter</string>
		<string>Anti-Strike Craft</string>
		<string>Armarments: 
3 Small Projectile Cannons
Cloak Generator

Using light-curving energy fields the cloaking device literally &quot;flips&quot; the image of the background scenery to fold onto the ship&apos;s hull, producing a sort of inside-out image. What light would normally hit the ship instead shoots out from the opposite side, giving the illusion, with only the faintest distortion in sharpness, that the fighter is not really there. Unfortunately the pilot must drop the cloaking field to fire as the field is not strong enough to wrap the same illusion around the fast-moving fire and during this point he is particularly vulnerable.

It was also rumored that the cloaking field and constant exposure to it has a destabilizing effect upon pilots. It was known that many of these pilots are somewhat eccentric and several of them, who have lost loved ones in battle, call themselves &quot;the Invisibles&quot; and see themselves as spirits of vengeance, going so far as to unnecessarily track enemy ships down or destroy vessels that have already surrendered.

Some Invisibles even believe that the cloaking field lets them see into the dark spaces between stars and there are yet unproven rumors of dark rituals in unused launch bays. Despite all this controversy and the bad name that flows around the Spectre, it is ultimately an extremely useful craft and remains one of the most important parts of the Kushan fleet.</string>
		<string>Kus_CloakedFighter1</string>
		<string>15.4 metres</string>
		<string>40 tons</string>
		<string>775 m/s</string>

	</array>
</dict>
</plist>
