<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kush_interceptor.dae</key>
	<array>
		<string>Blade-class Interceptor</string>
		<string>
TYPE: Fighter
ROLE: Anti-Strike Craft
LENGTH: 24.0 metres
MASS: 60 tons
SPEED: 875 m/s

ARMARMENTS:
2 x Small Projectile Cannons

The Blade Project's original goals were to merely design an upgraded and refitted version of the Scout in the form of a new, more powerful "Heavy Interceptor". As time went on and old models of the Blade were scrapped the Heavy Interceptor simply became the Interceptor and was eventually simplified to excel at its single task: fighter-to-fighter combat. Versions 1 and 2, which followed the example of the Arrow were eventually scrapped for not being sufficiently worth the extra expenses needed to build them.

Marks 3 and 4 on the other hand were further upgraded so that they could also endure atmospheric flight and travel at speeds greater even than the Arrow. However, all these systems combined together to build up heating in the plasma vents which hence gave the pilots of these test flights the nickname "Bomb Jockey" as their prototype designs would often explode in flight.

Eventually, Fleet Intelligence was about to give up the project entirely and cut funds based on the failures of the first four models. Instead, a single engineer and a test pilot together refitted the Blade by cutting away the wings and using their hull to form thermal insulation. In addition they pulled away the extra speed of the Blade and finished with a fighter that while slower than the Arrow carried more firepower and, more significantly, it ceased to be a guided fireball.

The Mk. 5 employed a large twin rotary cannon inside the nose armor plates that provided the extra firepower that the Arrow lacked. In addition this armor provided not only cooling and a larger chassis but also better protection against enemy firepower. Even so, much of the Blade's troubled past still was tied to it and pilots were still known as "Bomb Jockeys" even in the days of the Beast War, when the upgraded Mk. 6 provided the base for much of the carrier fleets commanded by the various Kushan Kiithid.

</string>
<string>kush</string>

	</array>


	<key>taid_attackbomber.dae</key>
	<array>
		<string>Kaark-class Attack Bomber</string>
		<string>
TYPE: Fighter
ROLE: Anti-Capital Ship
LENGTH: 24.7 metres
MASS: 90 tons
SPEED: 750 m/s

ARMARMENTS:
2 Plasma Bomb Launchers

While less manueverable than most fighters, the Kaark makes up for it by converting its engines into weapons. The Kaark literally uses its fuel plasma as a weapon, directing it through two cannons at either side of it. To add to the damage the Kaark electromagnetically charges the plasma as it passes through the cannons and then projects them forward towards their target, usually a frigate or super capital ship but on occasion non-combat vessels or even crippled strike craft.

During the Homeworld War Kaarks were rarely used against other fighters and even against corvettes because not only were they slow moving but the plasma was very slow compared to other devices of weaponry, even missiles. For this reason Kaarks would usually be dispatched to fight capital ships of various sizes or raid resourcer convoys. In case the Kaarks did end up in trouble though they were likely to resort to using electric countermeasure systems, manned by the rear-seat engineer.

</string>
<string>taid</string>

	</array>



	<key>kush_cloakedfighter.dae</key>
	<array>
		<string>Spectre-class Cloaked Fighter</string>
		<string>
TYPE: Fighter
ROLE: Anti-Strike Craft
LENGTH: 15.4 metres
MASS: 40 tons
SPEED: 775 m/s

ARMARMENTS: 
3 Small Projectile Cannons
Cloak Generator

Using light-curving energy fields the cloaking device literally &quot;flips&quot; the image of the background scenery to fold onto the ship&apos;s hull, producing a sort of inside-out image. What light would normally hit the ship instead shoots out from the opposite side, giving the illusion, with only the faintest distortion in sharpness, that the fighter is not really there. Unfortunately the pilot must drop the cloaking field to fire as the field is not strong enough to wrap the same illusion around the fast-moving fire and during this point he is particularly vulnerable.

It was also rumored that the cloaking field and constant exposure to it has a destabilizing effect upon pilots. It was known that many of these pilots are somewhat eccentric and several of them, who have lost loved ones in battle, call themselves &quot;the Invisibles&quot; and see themselves as spirits of vengeance, going so far as to unnecessarily track enemy ships down or destroy vessels that have already surrendered.

Some Invisibles even believe that the cloaking field lets them see into the dark spaces between stars and there are yet unproven rumors of dark rituals in unused launch bays. Despite all this controversy and the bad name that flows around the Spectre, it is ultimately an extremely useful craft and remains one of the most important parts of the Kushan fleet.</string>
<string>kush</string>

	</array>


	<key>bent_bentusiexchange.dae</key>
	<array>
		<string>Bentusi Exchange</string>
		<string>
TYPE: Mothership
ROLE: Mothership Class
LENGTH: 10,000 metres
MASS: 40000 tons
SPEED: 100 m/s

ARMARMENTS: 
3 Heavy Ion Cannons

The primary role of the Bentusi Tradeship was to gain resources which were used by the Bentusi. Each ship had at least one Exchange Unit, which allowed the player to trade with the Bentusi starship. Resources could be transferred from any ship to a Bentusi Tradeship, and technologies could be transported back from the Tradeship to the other ship.

Tradeships were also used to defend the Bentusi - whether it was the Tradeship itself or another Bentusi ship. Each tradeship was armed with three powerful, long range ion cannons, with white or yellow beams. These guns were used for defense against both strike craft and capital ships. Additionally some of the Tradeships were supplied with Super Acolytes. The first known use of a Tradeship for defence of another Bentusi ship was in the Exile Era, during the Battle of Hiigara when the Tradeships were wrenched by Harbor Ship from a nebula near Hiigara. In the Cataclysm Era Tradeships used their onboard super acolytes to neutralize the Kuun-Lan fleet.

It was very uncommon to see multiple trade ships at any one time, as they were autonomous units trading mostly on the Outer Rim Trade Routes. However, they were seen also in the Inner Rim, over Hiigara and in the Great Wastelands and various other locations around the galaxy. During the Homeworld 2 Era, Karan S'jet stated that the Great Harbour Ship of Bentus was the "last of the Bentusi".</string>
<string>bent</string>

	</array>



	<key>kad_swarmer.dae</key>
	<array>
		<string>Swarmer</string>
		<string>
TYPE: Fighter
ROLE: Strike Craft
LENGTH: 8.4 metres
MASS: 40 tons
SPEED: 1500 m/s

ARMARMENTS:
2 x Projectile Cannons

These fighters may have been small, but in truth were a fearsome enemy of any vessel that dared to cross their path. They were responsible for the destruction of dozens of cargo vessels that passed through the nebula before the nebula was cut off from the galactic shipping lanes. Swarmers were named for their tendency to attack in large numbers like a flock of flies. A dozen Swarmers could reside within one group and two or three of these groups could easily rip any ship apart with their merciless firepower combined with their rapid speed as these encircle their targets.

The only major weakness of the Swarmer is an extremely high fuel consumption in combat manoeuvres, which after a minute or so forces the Swarmers to dock with their Fuel Pods. If they do not reach the pods or if the pods are destroyed, the Swarmers will float in space without hope of recovery.

The Swarmer held the distinction of being the first Kadeshi vessel to come face to face with the Kushan during that race's attempt to pass through the nebula while journeying to Hiigara. The Kushan Ambassador met with the Kadeshi Ambassador, whose personal Swarmer craft was dwarfed by the size of the Ambassador's heavy corvette. When the Kushan declined to join the Kadeshi and instead opted to retreat from the Garden of Kadesh, the Kadeshi refused and attacked the Kushan, literally swarming them with hundreds of Swarmers, who preyed mercilessly on the Kushan fleet. The Kushan were eventually able to defeat the Kadeshi entirely, but not before suffering great loss at the hands of the Kadeshi's Swarmer forces.

</string>
<string>kad</string>

	</array>




	<key>taid_scout.dae</key>
	<array>
		<string>Fiirkan-class Scout</string>
		<string>
TYPE: Fighter
ROLE: Reconnaissance
LENGTH: 14.3 metres
MASS: 40 tons
SPEED: 1000 m/s

ARMARMENTS:
2 x Small Mass Drivers

The Fiirkan-class Scout were always the first fighters into a battle, making reconnaissance on enemy positions. The Fiirkans, who possess not only great agility but fairly decent firepower, were often a foreshadowing of events to come and when the Taiidan Empire's enemies saw a Fiirkan approaching, they knew the end was near.

Named for a small bird of prey in the deserts of Kharak, the Fiirkan, like its namesake, mostly preys on the herbivores of space, such as resource collectors, using its mobility to get the better of its prey, diving in and out in hit and run strikes. Armed with two small Mass Drivers, the Fiirkan is more than a match for any non-combat vessel and while using evasive maneuvers for even a super capital in large numbers. Many a fleet has fallen to the Fiirkan for underestimating their power.

Most pilots prefer the flashier Triikor-class Interceptor used by the elite core of the Taiidan pilots. Even so, those pilots who do choose to fly Fiirkans willingly are some of the best the Imperial Fleet has got and these "small birds" often show their hotshot comrades in the seat of Triikor that bigger guns doesn't necessarily mean better pilots.

</string>
<string>taid</string>

	</array>





	<key>kush_ioncannonfrigate.dae</key>
	<array>
		<string>Firelance-class Ion Cannon Frigate</string>
		<string>
TYPE: Frigate
ROLE: Anti-Capital Ship
LENGTH: 122.5 metres
MASS: 13,000 tons
SPEED: 300 m/s

ARMARMENTS:
1 x Ion Cannon

The Firelance-class Ion Cannon Frigate was developed by the Kushan using technology purchased from the Bentusi.

The frigate is a simple design, basically the Vengeance with all the bulk around the central hull removed along with all the turrets. Instead, there is just the basic, thin frigate chassis with a long particle accelerator unit running down its centre spine, a fusion power plant, the engine, and crew space. The ship has no secondary weapon to speak of.

Even so, despite this simplistic design the Firelance is a force to be reckoned with and possesses immense firepower used to tear through a frigate or super capital ship hull when used in greater numbers; even a careless fighter pilot can be shot if it zooms past the barrel. Its main weakness comes from its lack on maneuverability and speed and the fact that its single Ion Cannon has a slow fire rate and can only fire in one direction, with 1% frontal coverage. This leaves it very vulnerable to strike craft and should never be deployed without an escort. Traditionally, the first sign that a battle is lost is when the Firelances, under heavy fire, begin to pull back and retreat.

</string>
<string>kush</string>

	</array>

	<key>kush_resourcecollector.dae</key>
	<array>
		<string>Providence-class Resource Collector</string>
		<string>
TYPE: Collector
ROLE: Resource Collections
LENGTH: 122.5 metres
MASS: 40,000 tons
SPEED: 325 m/s

ARMARMENTS:
Phased Disassembler Array

The Providence class of Resource Collectors is an even older design than the Mercy repair frigate. Apart from transport shuttles, the Providence was the first design put into service for the construction of the Mothership, and these ships helped to break down the initial massive asteroids brought in from the Belt, reducing them to useable resources. All resource gathering is achieved by the use of a specialized bow-mounted Phased Disassmbler Array, which breaks down the target into its component atoms and draws them into the Providence's huge storage bays. Once full, the Providence then returns to the Mothership and docks at one of the dermal ports to unload.

Since almost all conflicts revolve around control of deep space asteroid and nebula fields, resource collection is one of the most dangerous duties in the fleet--and yet, no combat personnel crew any of these ships. Most of a Collector's functions are automated or controlled from the Mothership, so that only a skeleton crew of 4 engineers need to be aboard in a troubleshooting capacity. Needless to say, there are not many volunteers for this duty, and therefore all support staff must spend one week of their 8-week duty rotation aboard a Collector.

Because an unarmed Providence usually lives or dies by the quality of its fighter escort, Providence crews have been known to pool some of their recreational credits and pass them on to fighter pilots that are especially reliable. Since it is a rare pilot who is willing to forgo the glamour of wracking up kills in order to stick close to a lumbering Collector, Providence crews tend to show their appreciation in order to keep such pilots requesting escort duty.

</string>
<string>kush</string>

	</array>


	<key>kush_carrier.dae</key>
	<array>
		<string>Imperator-class Carrier</string>
		<string>
TYPE: Capital Ship
ROLE: Ship Construction
LENGTH: 122.5 metres
MASS: 121,000 tons
SPEED: 305 m/s

ARMARMENTS:
4 x Small Projectile Cannons

The Mothership is the ultimate expression of Kushan power, but even it cannot be everywhere at once. In order to extend the power and reach of the fleet, engineers pushed the manufacturing abilities of the Mothership to their limits in order to produce a super-heavy capitol ship chassis, capable of containing the equipment necessary to function as a small scale mothership.

The Imperator class Carrier requires the resources of a small asteroid belt simply to be built, and the entire Mothership manufacturing bay door must detached in order to launch this incredible starship. The Imperator has its own hyperspace jump engines and can carry a full assault wing of 50 fighters and 25 corvettes in its internal bays. It is fully capable of processing raw resources, and has a limited manufacturing ability, allowing it to construct any Frigate or Strike Craft hull. While not carrying an especially powerful offensive ability in of itself, it is protected by an array of rapid-fire point defense rail guns and heavy, layered armor.

Of the 3 Imperators produced so far, none have been lost in combat, though the original prototype was heavily damaged in action at Gorth's Rift, when an unknown hostile ambushed it in a quadrant barren of resources. This incident led to the strategic imperative that all Carrier groups must maintain an adequate resource reserve at all times or withdraw immediately. Current deployment doctrine for carrier groups calls for a single Imperator to be escorted by one to two Avatar class Heavy Cruisers and a pair of Destroyers. Additional craft are expected once the Imperator group has reached its destination.

</string>
<string>kush</string>

	</array>


	<key>hiig_interceptor.dae</key>
	<array>
		<string>Hiigaran Interceptor</string>
		<string>
TYPE: Strike Craft
ROLE: Anti-Strike Craft
SPEED: 480 m/s

ARMARMENTS:
1 x Kinetic Gun

The Interceptor is a fast, maneuverable and versatile craft designed for patrol, escort, and capital ship defense. The interceptor is the second smallest hull type that features offensive strike capabilities. Speed and maneuverability are maximized; thin armor plating covers only critical systems. The interceptor is especially feared by non-combat vessels, other strike craft, and resource operations. These fighters are winged, twin-engined, and appear to have a centerline weapon mount poking out the middle of a twin-pronged nose. They can be easily classified as Hiigaran by their gray-white-orange colouration. It has a rotary cannon very similar to those on the original Kushan Blade-class Interceptor.

The Hiigaran Interceptor squadron contains five ships. Use the interceptors to attack any groups of fighters or lone scouts in your area. This will stop the enemy from using radar to plan an attack or ambush on your current position, and they will need to try multiple tactics including hyperspacing to a random location if they wish to find you. The interceptors and Bombers of the enemy are the opponent's main cover for frigate assaults, and will make it harder for any corvettes or frigates of your own to attack them, so send a few interceptor squadrons to dispatch of the enemy.

</string>
<string>hiig</string>

	</array>



	<key>hiig_scout.dae</key>
	<array>
		<string>Hiigaran Scout</string>
		<string>
TYPE: Strike Craft
ROLE: Recon
SPEED: 480 m/s

ARMARMENTS:
1 x Pea Shooter
1 x EMP Weapon

The Hiigaran Scout is a very light strike craft used for patrolling and explorations, and also to harry enemy units. The Hiigaran and the Vaygr Scout are very much similar in terms of function and only differs in appearance and speed (when you research the engines upgrade for all fighters in the Vaygr race, your Vaygr scouts' movement speed is also upgraded and they become much faster than their Hiigaran counterpart).

The scout has very fast engines but has only light armor and weapons. Thus, it relies on its maneuverability and speed to evade enemy fire. Although it is not designed for direct combat with any other ship, it can give special support to all other combat ships when upgraded with the EMP (electromagnetic pulse) ability as well as the sensor ping.

</string>
<string>hiig</string>

	</array>



	<key>hiig_shipyard.dae</key>
	<array>
		<string>Shipyard Naabal</string>
		<string>
TYPE: Mothership
ROLE: Ship Construction
SPEED: 15 m/s

ARMARMENTS:
12 x Hull Defense Guns

The Shipyard Naabal, commanded by Elohim Naabal, was a massive ship construction facility located in the Sarum System, in the outskirts of the Hiigaran Control Zone.

The Mothership fleet jumped to Sarum in hopes of rebuilding their fleet for a counter-offensive. However, upon arrival, they learned that the shipyard had been sustaining heavy Vaygr raids, one of which was in progress. After destroying the Vaygr attackers and repairing the Shipyard, the Hiigaran fleet was given control of a Carrier the shipyard had just produced, and after another Vaygr raid was stopped the fleet left, leaving the Shipyard to produce additional vessels.

The Shipyard Naabal later met up with the Mothership fleet at the Vaygr Assembly Point in the Shining Hinterlands, where it repaired the damaged Progenitor Dreadnaught. It then joined the Mothership fleet.

The Hiigaran Shipyard is a huge construction facility, capable of producing any ship in the Hiigaran fleet, and can also act as a resource drop off. These craft cannot be constructed by the Mothership, so they are built in huge orbital facilities and hyperspaced into battle. The shipyard is the only construction ship capable of building Battlecruisers, the largest warships in the fleet. A Shipyard represents a large investment of resources, and can only be called into battle if the player has one or more Hyperspace Modules on a production capable ship.

</string>
<string>hiig</string>

	</array>


	<key>kad_multibeamfrigate.dae</key>
	<array>
		<string>Hiigaran Scout</string>
		<string>
TYPE: Frigate
ROLE: Anti-Capital Ship
LENGTH: 69.7 meters
SPEED: 280 m/s

ARMARMENTS:
4 x Ion Cannons

"If you will not join, then die. There is no withdrawal from the Garden." 
- Kadeshi Ambassador

The Multi-Beam Frigate, often called the MBF, is an Ion Cannon frigate used by the Kadeshi as a primary weapon against capital ships. This is one of the most efficient capital ship killers in the game, as it possessed four ion cannons, two mounted on each side of the hull. The Kadeshi use these deadly frigates in groups of three or more to utterly devastate their opponents. When Multi-Beam frigates attack, they tend to perform a barrel roll, most likely to distribute damage across the target's hull, but also probably for better heat distribution. It is known that the Kushan met 17 Multi-Beam Frigates in the Great Nebula (and another two in the Sea of Lost Souls). The size and colour of the multi-beam frigates can often be confused with the Fuel Pod.

</string>
<string>kad</string>

	</array>


	<key>vgr_commbase.dae</key>
	<array>
		<string>Thaddis Sabbah - Command Station</string>
		<string>
TYPE: Command Station
ROLE: N/A
LENGTH: N/A
SPEED: N/A

ARMARMENTS:
None

The Command Station is a special strategic station used by the Vaygr, which filled the role of reconnaissance and communications. Only two such ships have been seen and only one was given a name.

The station first appeared in the Gehenna Outskirts, when the Hiigaran fleet was attempting to reach the Oracle. Having no weapons, it was basically a target practice for most of the ships, but the lack of weapons was substituted by reinforced armor, improved regeneration and a communications facility located below the vessel. However, these stations were always protected by a heavy fleet.

The station went unseen, until Captain Soban was captured by the Vaygr for interrogation purposes. He was taken to one of the named stations known as Thaddis Sabbah. For unknown reasons, this station was an extremely valuable asset to the Vaygr, evidenced by the massive fleet present to guard it, which also included parts of Makaan's Elite Guard. Unfortunately, this station was destroyed as the Hiigaran fleet was forced to capture it to rescue Sobab, who let his explosive devices destroy the station.

Possesing no visible weapons, it is possible, that these stations provided almost the same purpose as production ships: ship docking, repairing etc. Also, its Communications Facility could allow the station to monitor hyperspace activity, detect cloaked ships, as well as increasing the sensor range. The station's armor was that of Capital Ships: ships like Interceptors did little damage, while Bombers and Ion Cannon Frigates dealt damage like to most Capital Ships.

Not much is known about when the station was built, however, it appeared to have been an extremely important station, as much of the Vaygr fleet was assembled here. It was also where Makaan's Elite Guard resided.


</string>
<string>vayg</string>

	</array>



	<key>vgr_interceptor.dae</key>
	<array>
		<string>Vaygr Assault Craft</string>
		<string>
TYPE: Strike Craft
ROLE: Anti-Strike Craft
SPEED: 325 m/s

ARMARMENTS:
1 x Flechette Cannon

The Vaygr Assault Craft was the smallest dedicated combat vessel in the Vaygr fleet. It specialized in dogfighting other fighters, with excellent speed, maneuverability, and a single, powerful forward-mounted Flechette Cannon. It is sometimes classed as an 'interceptor' by other races, and this suits it well as it excels at intercepting and destroying other fighters. Adhering to the typical Vaygr tactic of employing strength in numbers, 7 fighters comprise a squad for the same cost of a 5 ship squad of Hiigaran interceptors. Its armor, being lower in quality than that of Hiigaran interceptors, makes it a poor match against larger corvettes and frigates, but its speed allows it to survive a brief engagement with such vessels, acting as a distraction for larger ships in the fleet. Even so, it would be unwise to use these vessels for many tasks other than those for which it is designed.

Its reputation as a fighter-killer deterred enemy fighter wings from entering the combat zone, thus denying an enemy fighter support. Often, fighter commanders will have assault craft attack the subsystems of larger vessels with little anti-fighter weaponry in order to goad enemy fighters to a dogfight in which they are outnumbered and, ultimately, outclassed. They were also excellent at performing hit-and-run attacks on resourcing operations, using their great speed to attack quickly and withdraw to avoid a fight against superior forces.

</string>
<string>vayg</string>

	</array>


	<key>vgr_lance.dae</key>
	<array>
		<string>Harridan-class Plasma Lance Fighter</string>
		<string>
TYPE: Strike Craft
ROLE: Anti-Strike Craft
SPEED: 260 m/s

ARMARMENTS:
1 x Plasma Lance

Harridan-class Plasma Lance Fighter (Harridan pronounced [ˈhɑrɪdn]) was a heavy fighter equipped with a Plasma Lance which made these fighters a great weapon against enemy corvettes. Plasma Lance squadrons can strike enemy units from a relatively long distance considering they use plasma beam weaponry, which is notoriously short range. The weapon is relatively powerful for a fighter and can do large amounts of damage in a short time since the Harridan's weapon also fires more rapidly than the larger version found on corvettes and battlecruisers.

The most effective use of Harridans is when they are combined with a much larger task force giving these expensive and rare fighters cover as they focus on destroying enemy corvettes. Due to their relatively low maximum speed they are very ineffective in engagements against enemy interceptors. Also, they lack significant firepower against capital ships since their plasma lance was not designed to penetrate the heavy armor found on frigates and larger ships. Therefore, the best effect can be achieved when Plasma Lance Fighters are escorted by Assault Crafts and Bombers so that the strike craft wing can be relatively effective against all manner of enemy. In such situations they can focus on crushing enemy corvettes, a task for which they were specially designed.

</string>
<string>vayg</string>

	</array>



	<key>vgr_minelayer.dae</key>
	<array>
		<string>Vaygr Minelayer Corvette</string>
		<string>
TYPE: Strike Craft
ROLE: Minelayer
SPEED: 215 m/s

ARMARMENTS:
1 x Mine Launcher

The Vaygr Minelayer Corvette was a Vaygr unit designed to deploy automated explosive mines. The ship used a hull very similar to the Laser Corvette, and its bottom section was dominated by a large mine deploying system. At the back of the vessel, below the engines the slot used to deploy mines is visible. At the front, below the bridge two barrels of the Minesweeping system are visible, capable of destroying mines within 1200 meters range.

Minelayer corvettes were unarmed, and therefore worked best in secured area, where curtains of minefield forced enemy units to fly around giving plenty of time to friendlies, or pass through it what would cause enormous damage to first units which arrive to the range of mines sensors. During combat they had to escape as fast as possible to avoid destruction and hope that enemy won't spot single small ship.


</string>
<string>vayg</string>

	</array>



	<key>tur_mothership.dae</key>
	<array>
		<string>Lord-class Attack Carrier</string>
		<string>
TYPE: Mothership
ROLE: Anti-Capital Ship
MASS: 109,000 tons
LENGTH: 738.8 meters
SPEED: 235 m/s

ARMARMENTS:
2 Large Ion Cannons
10 Hull Defence Guns
1 x Short Jump Hyperdrive

The Turanic Raiders were a race of pirates and mercenaries known from the first attacks in the Turan sector in 9035 GSY. Most of their attacks were focused on trade lines and unprotected convoys. Apogee of Raiders power was during the Homeworld Era, when under the protectorate of the Taiidan Empire they rose in power. During the Cataclysm Era, the Raiders were still allied with the Taiidan Imperialist Faction.

The Lord-class Attack Carrier is the only known Turanic heavy capital ship. A large and powerful vessel, they served two roles in Turanic Fleets: Strike craft carrier and capital starship on par with destroyers. The distinctive profile of these ships made it recognizable to any commander and, like most Turanic ships, is very utilitarian. It sports a basic rectangular/octagonal hull with a large power generator and engine protruding from the bottom and a high bridge with multiple sensor arrays on top, giving the captain a good field of view.

Unlike most carriers, the Lord is able to defend itself well against all but the heaviest enemy ships due to its thick armor, redundant operating systems, and the best weaponry ever mounted on a carrier. These included as many as ten rapid fire point defense guns for dealing with corvettes and fighters, and two large ion cannons for dealing with frigates and capital ships. In the rear of the ship was the entrance to the hangar bay, allowing fighters to be safely launched even while the Lord is bringing its heavy weapons to bear. While these ships would be excellent on the offensive, most Turanic fleets use them as last resort weapons due to the cost of constructing one of these essential ships. After all, what's the point of winning a battle and capturing enemy ships if you lose the one ship capable of carrying off the spoils?

By far the most famous Lord-class Heavy Carrier was the Rancor, which was responsible for the first attack on the newly-commissioned Kushan Mothership in the Great Wastelands. It was forced to retreat after losing most of its flight wing and was later destroyed in its second attempt to destroy the Mothership.


</string>
<string>tur</string>

	</array>

</dict>
</plist>
