<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shouldRotate</key>
	<true/>
	<key>currentShip</key>
	<string>kush_cloakedfighter.dae</string>
	<key>downloadURL</key>
	<string>http://example.com/</string>
	<key>currentWall</key>
	<array>
		<string>bg1.jpg</string>
		<string>center</string>
	</array>
</dict>
</plist>
