<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>shouldRotate</key>
	<true/>
	<key>currentShip</key>
	<string>kush_cloakedfighter.dae</string>
	<key>downloadURL</key>
	<string>https://s3-us-west-1.amazonaws.com/naabal/</string>
	<key>currentWall</key>
	<array>
		<string>bg1.jpg</string>
		<string>center</string>
	</array>
	<key>wallList</key>
	<dict>
		<key>bg1.jpg</key>
		<array>
			<string>1.0,1.0,1.0,1.0</string>
			<string>10,6,10</string>
		</array>
		<key>bg2.jpg</key>
		<array>
			<string>0.2,0.2,0.2,1.0</string>
			<string>10,6,10</string>
		</array>
		<key>bg3.jpg</key>
		<array>
			<string>0.2,0.2,0.2,1.0</string>
			<string>10,6,10</string>
		</array>
		<key>bg4.jpg</key>
		<array>
			<string>0.2,0.2,0.2,1.0</string>
			<string>10,6,10</string>
		</array>
		<key>bg5.jpg</key>
		<array>
			<string>0.2,0.2,0.2,1.0</string>
			<string>10,6,10</string>
		</array>
		<key>bg6.jpg</key>
		<array>
			<string>0.2,0.2,0.2,1.0</string>
			<string>10,6,10</string>
		</array>
		<key>bg7.jpg</key>
		<array>
			<string>0.2,0.2,0.2,1.0</string>
			<string>10,6,10</string>
		</array>
	</dict>
</dict>
</plist>
